DATABASE_DRIVER=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac

POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_DB=prac

PORT=3000
CORS_ORIGIN=http://localhost
LOGGER_TYPE=json

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin