DATABASE_DRIVER="postgres"
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac
PORT=3000
CORS_ORIGIN="http://localhost:5173"
DEBUG=*
LOGGER_TYPE=dev